<div class="education">
  <ul class="edu-list">
    {% for edu in site.data.education %}
      <li>
        <strong>{{ edu.degree }}</strong>, {{ edu.institution }}, {{ edu.year }}
        <ul>
          {% if edu.description %}
            {% for line in edu.description %}
              <li><em>{{ line }}</em></li>
            {% endfor %}
          {% endif %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>